; begin auth token
//pkgs.dev.azure.com/harisdigitalcom/Haris/_packaging/harisdigitalartifactory/npm/registry/:username=harisdigitalcom
//pkgs.dev.azure.com/harisdigitalcom/Haris/_packaging/harisdigitalartifactory/npm/registry/:_password=eWh3b2M1d3VlcjV3eHd0d3VnbW9teTZsd2JvbGhsYmFrZWRjZnh1MmtzazJjeWNzNXFrYQ==
//pkgs.dev.azure.com/harisdigitalcom/Haris/_packaging/harisdigitalartifactory/npm/registry/:email=balazs.bordas@harisdigital.com
//pkgs.dev.azure.com/harisdigitalcom/Haris/_packaging/harisdigitalartifactory/npm/:username=harisdigitalcom
//pkgs.dev.azure.com/harisdigitalcom/Haris/_packaging/harisdigitalartifactory/npm/:_password=eWh3b2M1d3VlcjV3eHd0d3VnbW9teTZsd2JvbGhsYmFrZWRjZnh1MmtzazJjeWNzNXFrYQ==
//pkgs.dev.azure.com/harisdigitalcom/Haris/_packaging/harisdigitalartifactory/npm/:email=balazs.bordas@harisdigital.com
; end auth token